<div id="nav">
    <ul>
        <li><a href="{{path('stats')}}">Statistiques</a></li>
        <li><a href="{{path('send_notifications')}}">Notifier </a>(tous les )<a href="{{path('user_index')}}">inscrits</a></li>
    </ul>
</div>